/* LAST RULE */

/* p{
    color: red;
}
p{
    color: blue;
} 

p{
    color: green;
} */


  /* SPECIFICITY */

/* *{
  color: red;
}
p{
    color: blue;
}
p#intro{
    color: green;
} */

/* !IMPORTANT */

/* *{
    color: red !important;
  }
  p{
      color: blue;
  }
  p#intro{
      color: green;
  } */

  /* INHERITANCE EXP 1*/
/* 
  div{
    color: green;
  }

  p{
    font-family: 'Courier New', Courier, monospace;
    color: inherit;
  } */

  /* INHERITANCE EXP 2*/

  body{
   border: 3px solid black;
   color: red;
   padding: 10px;
}
.box1{
   border: 3px solid black;
   color: blue;
   padding: inherit;
}
 