/* Last rule */
h1{
    color: blue;
    background-color: yellow;
}
h1{
    color: black;
    background-color: brown;
}
/* SPECIFICIT */
*{
    color: rgb(0, 47, 255);
}
 div>h2{
    color: red;
    background-color: black;
 }
 /* IMPORTANCE */
 p{
    color: rgb(255, 0, 0) !important;
   
    border: 2px dotted rebeccapurple;
 }
 p{
    color: blue;
    
    border: 2px dashed rgb(255, 0, 242);
 }
 /* INHERITANCE */
 .khan{
    background-color: black;
    padding: 10px;
    border: 6px solid rgb(255, 0, 0);
     
 }
 h4{
    color: rgb(255, 251, 0);
    
 }
 ol{
    padding:20px;
 }
 ol>li{
    color: brown;
    padding: inherit;
    
 }
 